<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Geospatial mapping with D3</title>
	<style>
		/** CSS in here **/
		.land {
			fill: #e5e5e5;
			stroke: #666;
			stroke-linejoin: round;
			stroke-linecap: round;
		}

		.border {
			fill: none;
			stroke: #666;
		}

		.county {
			stroke: #999;
			stroke-width: .5;
		}

		.counties {
			fill: none;
		}
	</style>
</head>
<body>
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="http://d3js.org/topojson.v1.min.js"></script>
	<script src="../node_modules/colorbrewer/colorbrewer.js"></script>
	<script>
		//set the dimensions
		var width = 960;
		var height = 600;

		//out topojson already has a projection
		var path = d3.geo.path()
			.projection(null);

		var svg = d3.select("body").append("svg")
			.attr("width", width)
			.attr("height", height);	

		var color = d3.scale.linear()
			.domain([-100000, 5000000])
			.range(colorbrewer.Greens[7]);


		//Take in us.json
		d3.json("../us.json", function(err, us) {
			if(err) return console.error(err);

			svg.append("path")
				.datum(topojson.feature(us, us.objects.nation))
				.attr("class", "land")
				.attr("d", path);

			//append path to svg and draw the map
			svg.append("path")
				.datum(topojson.mesh(us, us.objects.states, function(a,b) { return a != b; })) // if the lines are the same, it will eliminate one of the two.
				.attr("class", "border state")
				.attr("d", path);

			svg.append("path")
				.datum(topojson.mesh(us, us.objects.counties, function(a,b) { return a != b; }))
				.attr("class", "border county")
				.attr("d", path);

			svg.append("g")
				.attr("class", "counties")
				.selectAll("path")
				.data(topojson.feature(us, us.objects.counties).features)
				.enter().append("path")
				.attr("class", "county")
				.attr("d", path)
				//Add the color
				.attr("fill", function(d) {
					return color(d.properties.profit);
				});

		});

	</script>
	

	<h1>Geospatial Mapping with D3</h1>
	
</body>
</html>