<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
		Angular SVG gauge widget
	</title>
	<script src="https://code.angularjs.org/1.4.2/angular.min.js"></script>
	<script>
		
		var dashboard = angular.module("Dashboard", []);

		dashboard.controller('barController' , function($scope) {
			$scope.specs = {
				height: 30,
				padding: 5,
				fontStyle: '10pt arial',
				fontHeight: 10,
				gradientInterval: 50,
				labelOffset: 5,
				gradients: [],
				bars : [
					{ color:"blue", width: 50, text: 'September'},
					{ color:"orange", width: 60, text: 'October'},
					{ color:"red", width: 90, text: 'November'}
				]
			};
		})	

		dashboard.directive('barGraph', function() {
			return {
				scope: {
					specs: '='
				},
				template: function(e, attrs) {
					return `
						<svg xmins="http://www.w3.org/2000/svg" width="250" height="250">
							<g ng-repeat="bar in specs.bars">
								<text x="0" y="{{(( 1 *specs.height + specs.padding) * $index) + (specs.height/2) + (specs.fontHeight/2)}}" text-anchor="start" style="font-family:arial;font-size: 10pt">{{bar.text}}</text>
								<rect x="{{specs.labelWidth + 6}}" y="{{( 1 *specs.height + specs.padding) * $index}}" fill="{{bar.color}}" width="{{bar.width}}" height="{{specs.height}}">
								</rect>
							</g>
							<line x1="{{specs.labelWidth + specs.labelOffset}}" x2="{{specs.labelWidth + specs.labelOffset}}" y1="0" y2="{{specs.overallHeight}}" style="stroke:black; stroke-width:1px" />
							<line x1="{{specs.labelWidth + specs.labelOffset}}" x2="{{specs.overallWidth + specs.labelWidth + specs.labelOffset}}" y1="{{specs.overallHeight}}" y2="{{specs.overallHeight}}" style="stroke:black; stroke-width:1px" />
							<text ng-repeat="gradient in specs.gradients" x="{{specs.labelWidth + gradient.offset + specs.labelOffset}}" y="{{((1* specs.height + specs.padding) * specs.bars.length) + specs.fontHeight + 3}}" text-anchor="middle" style="font-family: arial; font-size: 10px">{{gradient.text}}</text>
						</svg>
					`
				},
				link: function(scope, element, attr) {
					var displayBarGraph = function() {
						var ctx = document.createElement('canvas').getContext('2d');
						var gradients = [];

						ctx.font = scope.specs.fontStyle;
						scope.specs.labelWidth = 0;
						scope.specs.overallWidth = 0;


						angular.forEach(scope.specs.bars, function(bar, index) {
							scope.specs.labelWidth = Math.max(scope.specs.labelWidth, ctx.measureText(bar.text).width);
							scope.specs.overallWidth = Math.max(scope.specs.overallWidth, bar.width);
						});

						for( var i = 0; ;i+=scope.specs.gradientInterval) {
							gradients.push({text:i, offset:i});
							if( i > scope.specs.overallWidth)
								break;
						}
						scope.specs.gradients = gradients;

						scope.specs.overallHeight = scope.specs.bars.length * (1 * scope.specs.height + scope.specs.padding);
					};

					displayBarGraph();
				}
			}
		});




	</script>
</head>
<body ng-app="Dashboard">
	<div ng-controller="barController">
		<bar-graph specs="specs"></bar-graph>
	</div>
	
</body>
</html>