<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
		Angular SVG gauge widget
	</title>
	<script src="https://code.angularjs.org/1.4.2/angular.min.js"></script>
	<script>
		
		var dashboard = angular.module("Dashboard", []);

		dashboard.controller('GaugeController', function($scope) {

			$scope.specs = {
				currentValue: 45,
				centerX : 300,
				centerY : 300,
				radius  : 200, 
				maxValue: 180,
				gradientInterval: 10,
				gradients: []
			};

			for(let value=0, offset = 0;
				 value < $scope.specs.maxValue;
				 value += $scope.specs.gradientInterval, offset += 100/18
			) {
				$scope.specs.gradients.push({value: value, offset: offset});
			}


			var getCoordinatesForAngle = function(centerX, centerY, radius, angleInDegrees) {
				var angleInRadians = (angleInDegrees - 180) * Math.PI / 180.0; //Develop the arc and then flip it(hence the -180) to create the mirror image

				return {
					//transform the absolute position created into relative position coordinates
					x: parseInt(centerX + (radius * Math.cos(angleInRadians))),
					y: parseInt(centerY + (radius * Math.sin(angleInRadians)))
				}

			}

			var getArcPathForAngle = function(startingAngle, endingAngle, radius) {
				//Create the starting coordinates for the arc
				var startingPt = getCoordinatesForAngle(300,300,radius,startingAngle);
				//Create the ending coordinates for the arc
				var endingPt = getCoordinatesForAngle(300,300,radius,endingAngle);

				var value = ["M", startingPt.x, startingPt.y, "A", radius, radius, 0, 0, 1, endingPt.x, endingPt.y].join(" ");

				return value;
			}

			var displayGauge = function() {
				$scope.startValue = getArcPathForAngle(0, $scope.specs.currentValue, 200);
				$scope.background = getArcPathForAngle(0,180,200)
				$scope.gradients = getArcPathForAngle(0,180,210);

				$scope.maxValueCoordinates = getCoordinatesForAngle(300,300,210,180);
			};
			// alert('starting pt x: ' + startingPt.x + '\nending pt x: ' + endingPt.x
			// + '\nstarting pt y: ' + startingPt.y + '\nending pt y: ' + endingPt.y);
			$scope.$watch('specs.currentValue', function(oldValue, newValue) {
				displayGauge();
			})

		});
	</script>
</head>
<body ng-app="Dashboard">
	<div ng-controller="GaugeController">
		Angle: <input type="text" ng-model="specs.currentValue" />
		<p></p>
		<svg xmlns="http://www.w3.org/2000/svg" width="600" height="600">
			<!-- 
			Arc path creation:
			<path d="M [starting x][starting y] A [radius] [radius] 0 0 1 [ending x] [ending y]"
						stroke-width="[arc thickness]" stroke="[arc color]" fill="none" />
			  -->
			<path id="background" d="{{background}}" stroke-width="10" stroke="black" fill="none"/>
			<path d="{{startValue}}" stroke-width="10" stroke="#9BC850" fill="none"/>
			
			<path id="gradients" d="{{gradients}}" stroke-width="0" fill="none"/>
			<!-- 
			Gradient text around an arc:
			<text dx="[relative x offset]" dy="[relative y offset]" text-anchor="[start | middle | end]" style="[ css properties ]">
				<textPath xlink:href="[ path element id ]" startOffset="[ percentage offset]%">
				[ text to display ]
			</text>
			--> 
			<text ng-repeat="gradient in specs.gradients" dx="0" dy="0" text-anchor="middle" style="font: bold large arial">
				<textPath xlink:href="#gradients" startOffset="{{gradient.offset}}%">
				{{gradient.value}}
			</text>

			<text x="{{maxValueCoordinates.x}}" y="{{maxValueCoordinates.y}}" text-anchor="middle" style="font:bold large arial"
				transform="rotate(90,{{maxValueCoordinates.x}}, {{maxValueCoordinates.y}})">
				{{specs.maxValue}}
			</text>
			
		</svg>
	</div>
</body>
</html>