<svg xmln="http://www.w3.org/2000/svg" height="300" width="350">
		<path ng-repeat="slice in specs.slices" 
		style="opacity:0.0; {{slice.opacitySetting}}"
		stroke="{{slice.color}}" fill="{{slice.color}}" stroke-width="0"
		ng-attr-d="M {{specs.centerX}},{{specs.centerY}} l {{slice.x1}},{{slice.y1 * -1}} a{{specs.radius}},{{specs.radius}} 0 0 0 {{slice.x2 -slice.x1}}, {{(slice.y2 -slice.y1) * -1}}" />
		
		<line ng-repeat="slice in specs.slices" stroke="black" stroke-width="2"
		 	ng-attr-x1="{{specs.centerX + slice.ticMark.x - 10}}" 
		 	ng-attr-y1="{{specs.centerY + (slice.ticMark.y * -1)}}"
		 	ng-attr-x2="{{specs.centerX + slice.ticMark.x + 10}}" 
		 	ng-attr-y2="{{specs.centerY + slice.ticMark.y * -1}}"
			ng-attr-transform="rotate({{slice.ticMark.rotation * -1}}, {{specs.centerX + slice.ticMark.x}}, {{specs.centerY + (slice.ticMark.y * -1)}})"
		 />
		
		 <text ng-repeat="slice in specs.slices"
		 	 ng-attr-x="{{specs.centerX + slice.label.x - slice.label.adjustment}}" 
		 	 ng-attr-y="{{specs.centerY + (slice.label.y - slice.label.adjustment) * -1 }}" 
		 	 text-anchor="{{slice.label.alignment}}"
		 	 style="font-family: arial; font-size: 16pt"
		 >
		 	{{slice.label.text}}
		 </text>
</svg>